.main-block-props-container {
  display: flex;
}

.main-parent-block-wide {
  display: table;
  text-align: center;
  width: 700px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 25px;
  padding-top: 35px;
  height: 500px;
  margin: 15px;
  background-color: #3a4b4b;
}

.main-parent-block-tight {
  display: table;
  text-align: center;
  width: 550px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 25px;
  padding-top: 35px;
  height: 500px;
  margin: 15px;
  background-color: #3a4b4b;
}

.property-child-block {
  text-align: left;
  padding: 5px;
  background-color: #015454;
  display: flex;
  height: 50px;
  border: 1px solid;
}

.label-div {
  margin: 10px;
  left: 5px;
  position: relative;
  font-size: 20px;
  color: burlywood;
}

.value-div {
  margin: 10px;
  left: 20%;
  position: relative;
  font-size: 20px;
}

.image-container > img {
  width: 300px;
  height: 300px;
  margin-bottom: 15px;
}
