//comment
@import "static/scss-parts/variables";
@import "static/scss-parts/mixins";

.background-test {
  background-color: $backGroundClrTest;
}

.maxWidth500px {
  max-width: $maxWidth500px;
}

.profile-info-label {
  @include mainProfileInfoLabel();
}

.prx_v_k_information_panel_block__information_property {
  @include mainProfileInfoLabel()
}

.m-red-border {
  @include setPropValue(border-color, red);
  @include setPropValue(border-style, solid);
}

.prx_v_k_information_panel_block__menu_segment {
  background-color: #6e482f;
}

.prx_v_k_information_panel_block__no_data_cell {
    background-color: #4c4c5f;
    font-size: 22px;
    font-family: consolas;
    width: 169px;
}

.m-text-align-center {
  @include setPropValue(text-align, center);
}

.m-position-rel {
  position: relative;
}

.m-position-abs {
  position: absolute;
}

.m-position-fix {
  position: fixed;
}
.m-margin-top {
  margin-top: 30px;
}
.prx_v_ken_control_panel_block {
  background-color: #454039;
  width: 800px;
}
